@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
._marginLeft {
  margin-left: auto !important;
}

@media only screen and (max-width: 37.5em) {
  ._marginLeft {
    margin-left: 0 !important;
  }
}

._marginCenter {
  margin: auto !important;
}

._marginCenterHorizontal {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 37.5em) {
  ._marginCenterHorizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

._marginRight {
  margin-right: auto !important;
}

@media only screen and (max-width: 37.5em) {
  ._marginRight {
    margin-right: 0 !important;
  }
}

._marginBottom {
  margin-bottom: auto !important;
}

._marginTop {
  margin-top: auto !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif, arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

p {
  line-height: 1.6;
}

.rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #f7f2f7;
  padding: 1.25em;
  border-radius: 0.5rem;
}

.rating-wrap .ratingText {
  font-size: 1.3rem;
  margin-left: 3rem;
  color: #502050;
}

.rating-wrap .star + .star {
  margin-left: 0.5rem;
}

.testimonial-card {
  background: #502050;
  padding: 2.25em 2em;
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial-card > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-card > .wrap .avatar {
  width: 4rem;
  border-radius: 999px;
  margin-right: 2rem;
}

.testimonial-card > .wrap .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial-card > .wrap .wrap .name {
  color: white;
  margin-bottom: 0.5rem;
}

.testimonial-card > .wrap .wrap .verified {
  font-size: 1.5rem;
  color: #ee68a4;
  font-weight: 400;
}

.testimonial-card .testimonial {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.main-content {
  max-width: 110rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
}

.main-content > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .main-content > .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.intro-text-container {
  max-width: 35ch;
}

.intro-text-container .title {
  font-size: 5rem;
  color: #502050;
}

.intro-text-container .info {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1.5rem;
  color: #937b92;
}

.ratings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  max-width: 48rem;
  width: 100%;
}

.ratings-container .rating-wrap {
  width: 40rem;
}

.ratings-container .rating-wrap + .rating-wrap {
  margin-top: 1em;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2rem;
  min-height: 26rem;
  margin-top: 6rem;
}

.testimonial-container .testimonial-card {
  width: 100%;
  min-height: 22rem;
}
/*# sourceMappingURL=main.css.map */