@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    height: unset;
    min-height: 100%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif, arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: url("../images/bg-pattern-top-desktop.svg") no-repeat, url("../images/bg-pattern-bottom-desktop.svg") no-repeat;
  background-position: top left, bottom right;
}

@media only screen and (max-width: 800px) {
  body {
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat, url("../images/bg-pattern-bottom-mobile.svg") no-repeat;
    background-position: top left, bottom right;
    background-size: auto, contain;
  }
}

p {
  line-height: 1.6;
}

.rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #f7f2f7;
  padding: 1.25em;
  border-radius: 0.5rem;
}

.rating-wrap .ratingText {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 3rem;
  color: #502050;
}

.rating-wrap .stars--wrap > .star + .star {
  margin-left: 0.5rem;
}

.testimonial-card {
  background: #502050;
  padding: 2.25em 2em;
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial-card > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-card > .wrap .avatar {
  width: 4rem;
  border-radius: 999px;
  margin-right: 2rem;
}

.testimonial-card > .wrap > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial-card > .wrap > .wrap .name {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.testimonial-card > .wrap > .wrap .verified {
  font-size: 1.4rem;
  color: #ee68a4;
  font-weight: 400;
}

.testimonial-card .testimonial {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.main-content {
  max-width: 110rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2.5rem;
}

.main-content > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .main-content > .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro-text-container {
  margin-right: 2rem;
  max-width: 35ch;
}

@media only screen and (max-width: 800px) {
  .intro-text-container {
    text-align: center;
  }
}

.intro-text-container .title {
  font-size: clamp(3rem, 5vw, 5rem);
  color: #502050;
  line-height: 1;
}

.intro-text-container .info {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1.5rem;
  color: #937b92;
}

.ratings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  max-width: 48rem;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .ratings-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: unset;
    margin-top: 3rem;
    max-width: unset;
  }
}

.ratings-container .rating-wrap {
  width: 40rem;
}

.ratings-container .rating-wrap.alignStart {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap.alignStart {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.ratings-container .rating-wrap.-alignCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap.-alignCenter {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.ratings-container .rating-wrap.-alignEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap.-alignEnd {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.ratings-container .rating-wrap.-alignTop {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap.-alignTop {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.ratings-container .rating-wrap.-alignBottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap.-alignBottom {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .ratings-container .rating-wrap .ratingText {
    margin-left: unset;
    margin-top: 1rem;
  }
}

.ratings-container .rating-wrap + .rating-wrap {
  margin-top: 1em;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2rem;
  min-height: 26rem;
  margin-top: 6rem;
}

@media only screen and (max-width: 800px) {
  .testimonial-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.testimonial-container .testimonial-card {
  width: 100%;
  min-height: 22rem;
}

.testimonial-container .testimonial-card.alignStart {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card.alignStart {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.testimonial-container .testimonial-card.-alignCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card.-alignCenter {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.testimonial-container .testimonial-card.-alignEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card.-alignEnd {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.testimonial-container .testimonial-card.-alignTop {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card.-alignTop {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.testimonial-container .testimonial-card.-alignBottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card.-alignBottom {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

@media only screen and (max-width: 1000px) {
  .testimonial-container .testimonial-card {
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .testimonial-container .testimonial-card {
    height: unset;
    min-height: unset;
  }
}
/*# sourceMappingURL=main.css.map */