.rating-wrap {
    @include flexCenter();
    justify-content: flex-start;
    background: color(neutral-light-grayish-magenta);
    padding: 1.25em;
    border-radius: 0.5rem;

    .ratingText {
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 3rem;
        color: color(primary-very-dark-magenta);
    }

    .stars--wrap > .star {
        & + .star {
            margin-left: 0.5rem;
        }
    }
}
