.testimonial-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    min-height: 26rem;
    margin-top: 6rem;

    @include mobileSize {
        flex-wrap: wrap;
    }

    // position /  size / mediaQuery styles for the testimonial card component
    .testimonial-card {
        width: 100%;
        min-height: 22rem;
        @include alignment;

        // this media query forces the cards to take up the space of the container when shrinking down to smaller screen size
        @media only screen and (max-width: 1000px) {
            height: 100%;
        }
    }
}
