$font-stack: "Spartan", sans-serif, arial;

$colors: (
    primary-very-dark-magenta: hsl(300, 43%, 22%),
    primary-soft-pink: hsl(333, 80%, 67%),
    neutral-dark-grayish-magenta: hsl(303, 10%, 53%),
    neutral-light-grayish-magenta: hsl(300, 24%, 96%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin mobileSize() {
    @media only screen and (max-width: 900px) {
        @content;
    }
}

@mixin alignment() {
    &.alignStart {
        align-self: start;
        @include mobileSize() {
            align-self: unset;
        }
    }

    &.-alignCenter {
        align-self: center;
        @include mobileSize() {
            align-self: unset;
        }
    }

    &.-alignEnd {
        align-self: end;
        @include mobileSize() {
            align-self: unset;
        }
    }

    &.-alignTop {
        align-self: flex-start;
        @include mobileSize() {
            align-self: unset;
        }
    }

    &.-alignBottom {
        align-self: flex-end;
        @include mobileSize() {
            align-self: unset;
        }
    }
}
