$font-stack: "Spartan", sans-serif, arial;

$colors: (
    primary-very-dark-magenta: hsl(300, 43%, 22%),
    primary-soft-pink: hsl(333, 80%, 67%),
    neutral-dark-grayish-magenta: hsl(303, 10%, 53%),
    neutral-light-grayish-magenta: hsl(300, 24%, 96%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// 950px
@mixin desktopSize() {
    @media only screen and (min-width: 59.375em) {
        @content;
    }
}
