._marginLeft {
    margin-left: auto !important;
}

._marginCenter {
    margin: auto !important;
}

._marginCenterHorizontal {
    margin-left: auto !important;
    margin-right: auto !important;
}

._marginRight {
    margin-right: auto !important;
}
