._marginLeft {
    margin-left: auto !important;

    @include mobileSize {
        margin-left: 0 !important;
    }
}

._marginCenter {
    margin: auto !important;
}

._marginCenterHorizontal {
    margin-left: auto !important;
    margin-right: auto !important;

    @include mobileSize {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

._marginRight {
    margin-right: auto !important;

    @include mobileSize {
        margin-right: 0 !important;
    }
}

._marginBottom {
    margin-bottom: auto !important;
}

._marginTop {
    margin-top: auto !important;
}
